<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/6d376e5dff.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logoMercadoLiebre"> <img src="/images/mercadoLiebre.svg" alt="mercadoLiebre_logo" class="imglogo"> </div>
            <div class="buscador"> 
                <div id="input_container">
                    <input type="text" id="input" value="        Buscar productos, marcas y más">
                </div>
            </div>
            <div class="compraEnCuotas"> 
                <img src="images/hand.png" alt="pay">
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <div class="mobileHeader">
                <i class="fa-solid fa-bars fa-2xl" style="color: #000000;"></i>
            </div>
            </div>

            <div class="navHeader">
                <div class="nav"> 
                    <ul>
                        <li><a href="todosLosProductos.html">Todos los productos</a></li>
                        <li><a href="ofertas.html">Ofertas</a></li>
                        <li><a href="tiendasOficiales.html">Tiendas Oficiales</a></li>
                        <li><a href="vender.html">Vender</a></li>
                        <li><a href="ayuda.html">Ayuda</a></li>
                        <div class="topnav-right">
                        <li ><a href="/login">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                        <li><a href="ofertas.html">Ofertas <i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a href="tiendasOficiales.html">Tiendas Oficiales <i class="fa-solid fa-basket-shopping"></i></a></li>

                        </div>
                      </ul>

                </div>
             
                </div>
    </header>

    <section>
        <div class="banner">
            <div class="imgBanner"> <img src="images/img-home-banner.jpg" alt="banner"> </div>
            </div>
    </section>

    <section class="productos">
        <div class="tituloProductos">
            <p>Basado en tu última búsqueda</p>
        </div>
        <div class="grillaProductos">
            <div class="card">
                <img src="images\img-cafetera-moulinex.jpg" alt="Imagen del Producto">
                <div class="container">
                  <h4><b>$100</b></h4>
                  <i class="fa-sharp fa-solid fa-truck-fast fa-2xl" style="color: #48ad34;"></i>
                  <br> <br>
                  <p>50% OFF</p>

                </div>
              </div>

              <div class="card1">
                <img src="images\img-cafetera-moulinex.jpg" alt="Imagen del Producto">
                <div class="container">
                  <h4><b>$100</b></h4>
                  <i class="fa-sharp fa-solid fa-truck-fast fa-2xl" style="color: #48ad34;"></i>
                  <br> <br>
                  <p>50% OFF</p>

                </div>
              </div>
            
              <div class="card">
                <img src="images\img-macbook-pro-2019.jpg" alt="Imagen del Producto" id="pc">
                <div class="container">
                  <h4><b>$600</b></h4>
                  <i class="fa-sharp fa-solid fa-truck-fast fa-2xl" style="color: #48ad34;"></i>
                  <br> <br>
                  <p>15% OFF</p>

                </div>
              </div>

              <div class="card">
                <img src="images\img-samsung-galaxy-s10.jpg" alt="Imagen del Producto" id="celu">
                <div class="container">
                  <h4><b>$1000</b></h4>
                  <i class="fa-sharp fa-solid fa-truck-fast fa-2xl" style="color: #48ad34;"></i>
                  <br> <br>
                  <p>20% OFF</p>

                </div>
              </div>

              <div class="card">
                <img src="images\img-tv-samsung-smart.jpg" alt="Imagen del Producto" id="tv">
                <div class="container">
                  <h4><b>$6000</b></h4>
                  <i class="fa-sharp fa-solid fa-truck-fast fa-2xl" style="color: #48ad34;"></i>
                  <br> <br>
                  <p>30% OFF</p>

                </div>
              </div>

        </div>

    <section class="sectionItems">
        <div class="items">
            <div class="individualItem">
                <i class="fa-solid fa-credit-card fa-2xl" style="color: #005eff;"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="individualItem">
                <i class="fa-solid fa-gift fa-2xl" style="color: #005eff;"></i>
            <h2>Envío gratis desde $1.999</h2>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="individualItem">
                <i class="fa-solid fa-user-shield fa-2xl" style="color: #005eff;"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </div>

        </div>
    </section>

    <footer>
        <p>Copyrights © 1999-2023 MercadoLiebre S.R.L. </p>
    </footer>
    
</body>
</html>